:root
{
    --clr-sea-green: #6ecbc3;
    --clr-dark-green: #4ca7a0;
    --clr-bg-grey: #f0f0f2;
    --clr-white: #ffffff;
    --clr-main-black: #2f2f2f;
    --clr-light-black: #494949;
}
body{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior:smooth;
}
html,body{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
::before, ::after
{
    box-sizing: border-box;
}
ul{
list-style: none;
}

.section
{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    /* position: fixed;
    left: 270px; */
    padding: 0 30px;
    top:0;
    right: 0;
    z-index: 0;
    opacity: 1;
}
.hidden
{
    display: none;
}
.main-content
{
    padding-left: 270px;
}
.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.section .container
{
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    /* background-color: red;   */
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: var(--clr-white);
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: #000;
    transition: all 0.3s ease;
}   
.btn:hover
{
    background: var(--clr-sea-green);
    color: var(--clr-white);
    font-weight: bold;
    transform: scale(1.05);
    cursor: pointer;
}
/* aside */
.aside
{
    width: 270px;
    height: 100%;
    background: var(--clr-sea-green);
    position: fixed;
    left:0;
    top:0;
    padding: 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.logo-image {
    width: 210px;
    aspect-ratio: 1/1;
}
.aside .logo
{
    position: absolute;
    top: 50px;
    font-size: 10px;
    text-transform: capitalize;
}
.aside .logo a{

    color: #FFF;
    font-weight: 700;
    /* background: red; */
    padding: 15px 20px;
    font-size: 30px ;
    letter-spacing: 5px;
    position: relative;

}
.aside .logo a span{
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
}
.aside .nav{
    margin-top: 70px;
}
.aside .nav li {
    margin-bottom: 15px;
    
}
.aside .nav li a{
    font-size: 16px;
    font-weight: 600;
    display: flex;
    border-bottom: 1px solid var(--bg-black-50);
    color: #FFF;
    padding: 5px 15px ;
}
.aside .nav li i a.active
{
    color: var(--skin-color);
}
.aside .nav li a i{
    margin-right: 15px ;
}
/* Home Section */
.home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}
.home .home-info
{
    flex: 0 0 60%;
    max-width: 40%;
}
h3.sub-text
{
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 15px 0px;
}
h3.hello span{
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}
h3.my-profession{
    font-size: 30px;
    margin: 15px 0;
}
.typing {
color: var(--skin-color); 
}
.home-info p{
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--text-black-700);
}
.home .home-img
{
    /* flex: 0 0 40%; */
    max-width: 60%;
    text-align: center ;
    position: relative;
}
.home-img::after
{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    /* border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color); */
    right: 20px;
    bottom: -40px;

}
.home .home-img img{
    margin: auto;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}
/* contct */
.contact {
    background-color: var(--clr-bg-grey);
}
.contact-title
{
    color: var(--clr-main-black);
    text-align: center;
    font-size: 18px;
    margin: 2rem 0rem;
}
.contact-sub-title
{
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;

}
.contact .contact-info-item
{
flex: 0 0 25%;
max-width: 25%;
text-align: center;
margin-bottom: 60px;
}
.contact .contact-info-item .icon
{
    display: inline-block;
}
.contact .contact-info-item .fa
{
    font-size: 1.5rem;
    color: var(--clr-dark-green);
}
.contact .contact-info-item h4{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;

}
.contact .contact-info-item p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}
.contact .contact-form
{
    flex: 0 0 100%;
    max-width: 100%;

}
.contact .contact-form .col-6
{
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact-form .col-12
{
    flex: 0 0 100%;
    max-width: 100%;
    
}
.contact .contact-form .form-item
{
    margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control
{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--clr-white);
    border: 1px solid var(--clr-main-black);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--bg-black-700);
    transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea.form-control{
    height: 140px;

}
.contact .form-item .btn
{
    height: 50px;
    padding: 0 50px;
}
h2.primary-heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing:0.5rem;
    padding: 2rem 0rem;
    color: var(--clr-main-black);
}
.company-description {
    font-size: 18px;
    line-height: 2rem;
    text-align: justify;
    padding: 2rem 0rem;
    color: var(--clr-light-black);
}
.home-container {
    display: flex;
    box-sizing: border-box;
}
.home-image {
    margin-top: -1rem;
    margin-left: 5rem;
    height: 100vh !important;
}
.home-text-column {
    width: 50%;
    margin-top: 3rem;
    padding: 3rem;
}
.home-image-column {
    width: 50%;
    padding: 1rem;
}
section.about,section.mission  {
    background: var(--clr-bg-grey);
}
.about-container {
    display: flex;
}
.column-image {
    width: 100%;
    height: 100%;
}
.image-column {
    width: 60%;
}
.text-column {
    width: 40%;
    padding: 0rem 2rem;
}
.section-text {
    margin-top: 1rem;
    font-size: 18px;
    text-align: justify;
}
div.vision {
    margin: 0 auto;
    text-align: center;
}
.vision-text {
    padding: 2rem 0rem;
    line-height: 2.5rem;
    font-size: 18px;
}
.blockquotes {
    font-weight: bold;
    font-size: 2rem;
}
.values-container {
    display: flex;
    gap: 2rem;
}
.value {
    text-align: center;
    margin-top: 3rem;
    border-radius: 10px;
    /* background-color:#5d5c61; */
    background-color:var(--clr-dark-green);
    color: #fff;
    padding: 2rem
}
.value:hover {
    background-color: var(--clr-sea-green);
    color: var(--bg-aside);
    cursor: pointer;
    transform: scale(1.05);
}
.value:hover .value-icon {
    color: var(--bg-aside);
}
.value-icon {
    font-size: 2rem;
    color: var(--clr-white);
    margin-bottom: 2rem;
}
.email-Container {
    margin: 1rem 0rem;
}
.contact-icon {
    color: var(--clr-white);
    margin-right: 5px;
}
.value-heading {
    margin-bottom: 2rem;
}
.mt-1 {
    margin-top: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.contact-container {
    background-color: var(--bg-black-900);
    width:100%;
    height: 100vh;
    display: flex;
}
.left-column {
    width: 40%;
    height: 100%;
    padding: 2rem;
}
.right-column {
    width: 60%;
    height: 100%;
    padding: 2rem;
}
.address-container {
    width: 100%;
    background-color: var(--bg-aside);
    text-align: center;
    padding: 2rem;
    color: #FFF;
    margin-top: 1rem;
}

.form-container {
    background-color: #FFF;
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
}
.input-group {
    margin-bottom: 2rem;
}
input[type="text"], input[type="email"] {
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
}
textarea {
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
}
.footer {
    background-color: #000;
    width: 100%;
    display: flex;
    gap: 2rem;
    color: #FFF;
    padding: 2rem;
}
.copyrights {
    text-align: center;
}
.social-media-container-icon {
    text-decoration: none;
    color: #FFF;
} 
.disclaimer, .copyrights, .social-icon-container {
    width: 33%;
}
.social-icon-container {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
}

@media (max-width: 60rem) {
    .aside {
        display: none;
    }
    .main-content {
        width: 100%;
        padding-left: 0px;
    }
    .home-container {
        flex-direction: column;
        padding: 2rem 0rem;
    }
    .home-text-column {
        width: 100%;
    }
    .home-image-column {
        display:none;
    }
    h2.primary-heading {
        font-size: 2rem;
    }
    h3.sub-text {
        font-size: 1.5rem;
        text-transform: capitalize;
    }
    .about-container {
        flex-direction: column;
    }
    .image-column, .text-column {
        width: 100%;
    }
    .values-container {
        flex-direction: column;
    }
    .contact .contact-info-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .footer {
        flex-direction: column;
        justify-content:center !important;
    }
    .disclaimer, .copyrights, .social-icon-container {
        width: 100%;
    }
    .social-icon-container {
        justify-content: center;
    }
}