@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@300;400;500;600;700&display=swap');
:root
{
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700:#504e70;
    --bg-aside: #000;
    --clr-white: #fff;
}
body{

    line-height: 1.5;
    font-size: 16px;
    font-family: 'Roboto' sans-serif ;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
::before, ::after
{
    box-sizing: border-box;
}
ul{
list-style: none;
}

.section
{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    /* position: fixed;
    left: 270px; */
    padding: 0 30px;
    top:0;
    right: 0;
    z-index: 0;
    opacity: 1;
}
.hidden
{
    display: none;
}
.main-content
{
    padding-left: 270px;
}
.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.section .container
{
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    /* background-color: red;   */
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;
}   
.btn:hover
{
    transform: scale(1.05);
}
/* aside */
.aside
{
    width: 270px;
    height: 100%;
    background: var(--bg-aside);
    position: fixed;
    left:0;
    top:0;
    padding: 2rem;
    border-right: 1px solid var(--bg-black-50);
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.aside .logo
{
    position: absolute;
    top: 50px;
    font-size: 10px;
    text-transform: capitalize;
}
.aside .logo a{

    color: var(--clr-white);
    font-weight: 700;
    /* background: red; */
    padding: 15px 20px;
    font-size: 30px ;
    letter-spacing: 5px;
    position: relative;

}
.aside .logo a span{
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
}
.aside .nav{
    margin-top: 70px;
}
.aside .nav li {
    margin-bottom: 15px;
    
}
.aside .nav li a{
    font-size: 16px;
    font-weight: 400;
    display: flex;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--clr-white);
    padding: 5px 15px ;
}
.aside .nav li i a.active
{
    color: var(--skin-color);
}
.aside .nav li a i{
    margin-right: 15px ;
}
/* Home Section */
.home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}
.home .home-info
{
    flex: 0 0 60%;
    max-width: 40%;
}
h3.sub-text
{
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 15px 0;
}
h3.hello span{
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}
h3.my-profession{
    font-size: 30px;
    margin: 15px 0;
}
.typing {
color: var(--skin-color); 
}
.home-info p{
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--text-black-700);
}
.home .home-img
{
    /* flex: 0 0 40%; */
    max-width: 60%;
    text-align: center ;
    position: relative;
}
.home-img::after
{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    /* border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color); */
    right: 20px;
    bottom: -40px;

}
.home .home-img img{
    margin: auto;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}
/* contct */
.contact-title
{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 1px;
}
.contact-sub-title
{
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;

}
.contact .contact-info-item
{
flex: 0 0 25%;
max-width: 25%;
text-align: center;
margin-bottom: 60px;
}
.contact .contact-info-item .icon
{
    display: inline-block;
}
.contact .contact-info-item .fa
{
    font-size: 25;
    color: var(--skin-color);
}
.contact .contact-info-item h4{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;

}
.contact .contact-info-item p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}
.contact .contact-form
{
    flex: 0 0 100%;
    max-width: 100%;

}
.contact .contact-form .col-6
{
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact-form .col-12
{
    flex: 0 0 100%;
    max-width: 100%;
    
}
.contact .contact-form .form-item
{
    margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control
{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--bg-black-700);
    transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea.form-control{
    height: 140px;

}
.contact .form-item .btn
{
    height: 50px;
    padding: 0 50px;
}
h2.primary-heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing:0.5rem;
}
.company-description {
    text-align: justify;
}
.about-container {
    display: flex;
}
.column-image {
    width: 100%;
    aspect-ratio: 1/1;
}
.image-column {
    width: 60%;
}
.text-column {
    width: 30%;
}