.team-container{
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.team-container .card
{
    width: 18%;
    height: 365px;
    padding: 20px 15px;
    background: #f2f3f7;
    box-shadow: 0.6em 0.6em 1.2em #d2dcef, -0.5em -0.5em 1em #ffffff;
    border-radius: 20px;
}
.team-container .card .content
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.team-container .card .content .imgBx
{
    width: 175px;
    height: 175px;  
    border-radius: 50%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.team-container .card .content .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}
.team-container .card .content .contentBx {
    margin-top: 2rem;
}
.team-container .card .content .contentBx h4
{
    color: #00e091;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}
.team-container .card .content .contentBx h5
{
    color: gray;
    font-size: 0.8;
    font-weight: bold;
    text-align: center;
    margin-top: 6px;
}
.team-container .card .content .sci
{
    margin-top: 8px;
}
.team-container .card .content .sci a
{
    text-decoration: none;
    color: gray;
    font-size: 30px;
    margin: 5px;
    transition: color 0.4s;
}
.team-container .card .content .sci a:hover{
    color: #00e091;
}

@media (max-width: 50em) {
    .team-container .card {
        width: 100%;
    }    
}